/* header */

#headertop {
    flex-direction: column;
    align-items: center;
}

@media (max-width: 300px)  {
    .branding {
        flex-direction: column;
    }
}

@media (max-width: 200px) {

    body {
        font-size: smaller;
    }

    #logo {
        height: 25px;
    }
    #name {
        font-size: 18px;
    }
}

nav {
    flex-wrap: wrap;
}



/*  main  */

/* mainsection1 services*/

#our_services {
    flex-wrap: wrap;
}

.service {
    min-width: 0px;
    width: 90%;
}

/* mainsection2 clients */

#our_clients {
    flex-wrap: wrap;
}

/* mainsection3 contactus */

#mainsection3 {
    align-items: center;
}

#contactform {
    width: 80%;
}

.form_element {
    width: 100%;
}

#contact_form_send_btn {
    width: 100%;
}