* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Comic sans MS;
}

.container {
    display: flex;
}

#headerwrapper {
    background: url(headerbg.jpg) no-repeat center center/cover;
    /* background-size: 1366px 350px; */
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#headertop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.branding {
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

#name {
    color: white;
    font-family: 'Chela One', cursive;
    font-size: 36px;
}

#logo {
    height: 50px;
    margin-right: 10px;
}

nav {
    margin-left: 20px;
    align-items: center;
}

.navi {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#headerbottom {
    color: white;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

button {
    background-color: rgb(141, 32, 32);
    color: white;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

#order_now_btn {
    height: 35px;
    width: 125px;
    margin-top: 15px;
}

#mainwrapper{
    flex-direction: column;
}

#mainsection1{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#mainsection1 h2 {
    margin-bottom: 20px;
}

#our_services {
    justify-content: space-evenly;
    width: 100%;
}

.service{
    background-color: rgb(228, 228, 228);
    border: 2px solid maroon;
    border-radius: 15px;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.service p {
    font-size: 14px;
    margin-top: 10px;
}

.service_img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

#mainsection2 {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

#mainsection2::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#our_clients {
    width: 60%;
    justify-content: space-evenly;
}

.our_clients_img {
    width: 100px;
    margin: 20px;
}

#mainsection3{
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#mainsection3::before {
    content: "";
    background: url(contactus.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#contactform {
    width: 400px;
    height: 350px;
    flex-direction: column;
    justify-content: space-evenly;
}

.form_element {
    width: 100%;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 3px gray;
}

#form_message {
    height: 70px;
}

#contact_form_send_btn {
    margin-top: 20px;
    height: 35px;
}

footer {
    margin-top: 10px;
}

#footertext {
    color: gray;
}